footer {
    display: block;
    margin: 30px auto;
    width: fit-content;
    padding: 20px;
    text-align: center;
  }
  
  footer .openWeather {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  footer .openWeather a img {
    width: 110px;
    padding-left: 5px;
  }
  
